{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-react-display-name",
    "transform-object-rest-spread"
  ],
  "presets": [
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
