.board {

}

.board-grid {
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
}

.board-cell {
    display: inline-flex;
    width: 30px;
    height: 30px;
    background: #000;
    margin: 1px;
    cursor: pointer;
}
