
#bot-container {
    position: fixed;
    top: 30px;
    left: 2px;
    border: 1px solid #666;
    background: white;
    color: #333;
    padding: 5px;
    font-size: 12px;
}

#bot-container .board-cell {
    width: 15px;
    height: 15px;
}

#bot-preview {
    display: none;
}

#bot-react {
    max-width: 170px;
}
